
		h1{ 
		text-decoration: underline;
		}
	
		body{
		background-color: pink;
		background-image: url(https://wallpaper-house.com/data/out/6/wallpaper2you_130495.jpg);
		background-size: 1380px 720px;
		background-repeat: no-repeat;
		color: white;
		}
	
		a{
		text-decoration: underline;
		}
		.man{
		color: lime;
		}

	
